@import "../../../styles/_global";

.navigation {
  .item {
    margin: 62px 0;
    a {
      @include font500(18px);
      text-decoration:none;
      color: $lightGray;
    }
    .active {
      color: $blue;
    }
  }
}